extends layout

block content
	#services.services
		.row.shift
			.col-md-4.col-md-offset-4.text-center
				img(src="/images/main.png")
	.container
		.row
			.col-md-4.col-md-offset-4.text-center
				h2 Publicaciones recientes
					hr
		.row
			.col-md-4.col-md-offset-4.text-center
				- if (posts)	{
					each val in posts
						a(href="/blog/show/#{val.slug}")= val.title
				-	} else {
					p No hay nuevas publicaciones
				- }
		hr
									
	