extends layout

block content

	#top.header
		#intro.intro
			.container
				
				.row
					.col-md-8.col-md-offset-2.text-center.test
						h3 Preguntas mas Frecuentes
						hr
					.col-md-8.col-md-offset-2.test
						h4
							strong 多Que beneficios obtengo al afiliarle a la tarjeta Acceso Total?
						br	
					.col-md-8.col-md-offset-2.test
						p   Puedes ingresar sin hacer cola o pagar entrada a todos los establecimientos del programa que tengan alguna de estas restricciones. Ademas, en los locales que esto no sea un problema podras obtener cortesias, descuentos exclusivos y promociones solo para participantes del programa.

					.col-md-8.col-md-offset-2.test
						h4
							strong 多Cuantas personas aparte de mi pueden ingresar?
						br	
					.col-md-8.col-md-offset-2.test
						p   Pueden ingresar hasta tres personas aparte del usuario de la tarjeta. Este beneficio esta sujeto a las restricciones de los locales. Nosotros apuntamos a que permitan al menos tres. En los locales donde esto no sea posible, el equipo de AT buscara compensar con descuentos para los acompanantes que no puedan entrar gratis. 

					.col-md-8.col-md-offset-2.test
						h4
							strong 多Que establecimientos estan afiliados al programa?
						br	
					.col-md-8.col-md-offset-2.test
						p   Hemos iniciado contacto con mas de 40 locales en Lima y mas de 10 en el sur chico. Las afiliaciones las anunciaremos mientras se sucedan, mediante las redes sociales y el blog de la empresa.
					.col-md-8.col-md-offset-2.test
						h4
							strong 多Cuanto tiempo dura la afiliacion a la membresia?
						br	
					.col-md-8.col-md-offset-2.test
						p  La duracion de la membresia es de seis meses empezando desde el dia de entrega.			
						hr
						.col-md-4.col-md-offset-4.text-center
							a(href='/info').btn.btn-lg.btn-primary Volver	
						footer		
							hr	
							p.text-center Todos los derechos Reservados &copy; Zefira Acceso Total 2013
					

