extends layout

block content

	#fb-root
	script.
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=516873428402136";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

	- if (user) {
	#top.header
		#intro.intro
			.container
				
				.row
					.col-md-8.col-md-offset-2.text-center.test
						h3 Gracias por unirte a la lista de Espera
						hr
					.col-md-8.col-md-offset-2.text-center.test
						h4 Obten descuentos sobre el precio de pre-venta invitando al menos a tres nuevos miembros a la comunidad. Mientras mas personas invites, mas descuento obtienes!
					.col-md-8.col-md-offset-2.text-center.test
						br
						
						h4 Comparte esta URL en Facebook, Twitter o por correo electronico
						.col-md-6.col-md-offset-2.share-link
							input.form-control#input-in( value="http://accesototal.zefira.pe/invite/" + user._id)	
						br
						br
						br
					.col-md-8.col-md-offset-2.text-center.test.share-block

						a#share_button.share 
							button.btn.btn-facebook 
								i.icon-facebook
								|  |   Compartelo en   Facebook


						a(href="https://twitter.com/intent/tweet?hashtags=zefira,accesototal,at&original_referer=http%3A%2F%2Faccesototal.zefira.pe%2Finvite%2F#{user._id}&text=Ingresa%20gratis%20a%20tus%20discotecas%20favoritas.%20Olvidate%20de%20hacer%20lista%20o%20pagar%20entrada.&tw_p=tweetbutton&url=http%3A%2F%2Faccesototal.zefira.pe%2Finvite%2F#{user._id}")
							button.btn.btn-twitter
								i.icon-twitter
								|   | Twittealo

				.row
					.col-md-8.col-md-offset-2.text-center.test
						br
						br
						
						h4 
							a(href="/queue/" + user._id) 
								button.btn.btn-primary Mira que beneficios puedes obtener al invitar a tus amigos  				
						h4 
							a(href="/info")
								button.btn.btn-primary	Que es Zefira Acceso Total?
						h4 ¿No puedes esperar? 
							i.icon-arrow-right    
							a(href="#")
								button.btn.btn-alert Pre Venta 1 diciembre
						
								
		
				.row
					.col-md-6.col-md-offset-3.text-center
						
						hr
						.fb-like(data-href="https://www.facebook.com/zefiraat", data-width="111", data-heigth="25", data-colorscheme="light", data-layout="standar", data-action="like", data-show-faces="false", data-send="false")
						a.twitter-follow-button(href="https://twitter.com/ZefiraATotal", data-show-count="false", data-lang="es") Seguir a ZefiraATotal	
	- } else {
	#top.header
		.vert-text
			img(src="/images/main.png")
			h3(style="color:white") Ingresa a tus discotecas favoritas sin hacer colas ni pagar entradas
			.container
				.row
					.col-md-6.col-md-offset-3.text-center
						h4(style="color:white") 
							em Unete a la lista de espera solo con tu correo electronico
						br	
						h4(style="color:white")  
							a(href="http://localhost:8000",style="color:#67FF2C", target="_blank")
								button.btn.btn-alert Preventa activa  
							|    |  Fiesta de lanzamiento 31 de Diciembre	
						hr
				.row
					.col-md-4.col-md-offset-4.text-center
						.service-item
							form(action='/invite/new', method='post')
								
								input.form-control(type="text", placeholder="Email", name="email", required)
								br
								.col-md-2.col-md-offset-1
									input.btn.btn-lg.btn-primary(type="submit", value="Unete")
								.col-md-2.col-md-offset-2			
									a.btn.btn-primary.btn-lg(href="/info") Averigua mas
								p	 
	- } 

	script(src="http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/jquery.js")
	script(src="http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/bootstrap.js")
	script(src="http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/jquery.validate.min.js")
	script(src="http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/mine.js")

	script.		
		
		$(document).ready(function(){
			$('#share_button').click(function(e){
				user = !{JSON.stringify(user)};
				
				e.preventDefault();
				FB.ui(
				{
				method: 'feed',
				name: 'Zefira Acceso Total',
				link: ' http://accesototal.zefira.pe/invite/'+ user._id  ,
				picture: 'http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/main.png',
				caption: 'Ingresa gratis a tus discotecas favoritas. Olvidate de hacer lista o pagar entrada. Obten beneficios en docenas de establecimientos mas.',
				description: 'Entra a la lista de espera y recibe bonos para gastar en los establecimientos afiliados',
				message: ''
				});
				});
		});	