extends layout

block content
	#fb-root
	script
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=516873428402136";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	script
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');	
	- if (user) {
	#top.header
		#intro.intro
			.container
				
				.row
					.col-md-8.col-md-offset-2.text-center.test
						h3 Gracias por agregarte a la lista de Espera
						hr
					.col-md-8.col-md-offset-2.text-center.test
						h4 Obten descuentos sobre el precio de pre-venta invitando al menos a tres nuevos miembros a la comunidad. Mientras mas personas invites, mas descuento obtienes!
					.col-md-8.col-md-offset-2.text-center.test
						br
						
						h4 Comparte esta URL en Facebook, Twitter o por correo electronico
						.col-md-7.col-md-offset-2
							input.form-control#input-in( value="http://accesototal.zefira.pe/invite/" + user._id)	
						br
						br
						br
					.col-md-8.col-md-offset-2.text-center.test
						a#share_button.share 
							button.btn.btn-facebook 
								i.icon-facebook
								|  |   Compartelo en   Facebook


						a(href="https://twitter.com/intent/tweet?hashtags=travolta&original_referer=http%3A%2F%2Fsignup.trevolta.com%2Finvite%2F58LWV283084&text=Free%20invite%20to%20crowd-funded%20travels!%20Get%20yourself%20a%20trip%20funded%20by%20the%20crowd%2C%20friends%20or%20sponsors.&tw_p=tweetbutton&url=http%3A%2F%2Fsignup.trevolta.com%2Finvite%2FBSXPB371247")
							button.btn.btn-twitter
								i.icon-twitter
								|   | Twittealo

				.row
					.col-md-8.col-md-offset-2.text-center.test
						br
						br
						
						h4 
							a(href="/queue/" + user._id) 
								button.btn.btn-primary Mira que beneficios puedes obtener al invitar a tus amigos  				
						h4 
							a(href="/faq")
								button.btn.btn-primary	Que es Zefira Acceso Total?
		
				.row
					.col-md-6.col-md-offset-3.text-center
						br
						br
						hr
						.fb-like(data-href="https://www.facebook.com/zefirapay", data-width="111", data-heigth="25", data-colorscheme="light", data-layout="standar", data-action="like", data-show-faces="false", data-send="false")
						a.twitter-follow-button(href="https://twitter.com/ZefiraATotal", data-show-count="false", data-lang="es") Seguir a ZefiraATotal					
				- } else {
	a#menu-toggle.btn.btn-primary.btn-lg.toggle(href="#")
		i.icon-reorder

	#sidebar-wrapper
		ul.sidebar-nav
			a#menu-close.btn.btn-default.btn-lg.pull-right.toggle
				i.icon-remove
			li.sidebar-brand
				a Acceso Total
			li
				a(href="#form-pre") Preordena		
	#top.header
		.vert-text
			img(src="/images/main.png")
			h1(style="color:white") Zefira
				sup 
					small(style="color:white") &reg; 
			h1(style="color:white") Acceso Total
			h3(style="color:white")  Las mejores discotecas GRATIS
			a.btn.btn-primary.btn-lg(href="#intro") Averigua mas
	#intro.intro
		.container
			.row
				.col-md-6.col-md-offset-3.text-center
					h2  Con Zefira "Acceso Total" puedes entrar a todas nuestras discotecas mostrando solamente tu tarjeta
					p.lead No mas colas, no mas entradas
					a.btn.btn-lg.btn-primary(href="#services") Mira que beneficios trae			


	#services.services
		.container
			.row
				.col-md-4.col-md-offset-4.text-center
					h2 Beneficios
			.row
				.col-md-2.col-md-offset-2.text-center
					.service-item
					i.service-icon.icon-time
					h4 Olvida las colas
					p Con acceso Total, ingresas directamente mostrando tu tarjeta en la puerta de la disco. 	
			
				.col-md-2.text-center
					.service-item
					i.service-icon.icon-magnet
					h4 Ingreso Libre
					p Olvidate de pagar por entrar a divertirte. No mas listas
			
				.col-md-2.text-center
					.service-item
					i.service-icon.icon-shield
					h4 Lleva a tu gente
					p Ingresa con tus amigos y pasala de la puta mare
			
				.col-md-2.text-center
					.service-item
					i.service-icon.icon-pencil
					h4 Beneficios Exclusivos
					p Gold, Silver y Platinum, tu escoges a donde y que es lo que quieres
			.row
				.col-md-2.col-md-offset-2.text-center
					a.btn.btn-default.btn-lg(href="#form-pre") Preordena
				.col-md-2.text-center
					a.btn.btn-default.btn-lg(href="#form-pre") Preordena
				.col-md-2.text-center
					a.btn.btn-default.btn-lg(href="#form-pre") Preordena		
				.col-md-2.text-center
					a.btn.btn-default.btn-lg(href="#form-pre") Preordena		


	.callout
		.vert-text
			h1(style="color:black;") Descubre una nueva 
			h1(style="color:black;") manera de divertirte
			a.btn.btn-primary.btn-lg(href="#form-pre") Preordena

	#form-pre.services
		.container
			.row
				.col-md-6.col-md-offset-3.text-center
					h3 Preordena solo con tu correo electronico 
					hr
			.row
				.col-md-4.col-md-offset-4.text-center
					.service-item
						form(action='/invite/new', method='post')
							
							input.form-control(type="text", placeholder="Email", name="email")
							br
							input.btn.btn-lg.btn-primary(type="submit", value="Preordena")

	footer
		.container
			.row
				.col-md-6.col-md-offset-3.text-center
					ul.list-inline
						li
							i.icon-facebook.icon-2x
						li
							i.icon-twitter.icon-2x
						li
							i.icon-instagram.icon-2x
						li
							i.icon-google-plus.icon-2x

					hr
					p Todos los derechos Reservados &copy; Zefira Acceso Total 2013					
				-	}			
		



	script(src="/js/jquery.js")
	script(src="/js/bootstrap.js")
	script(src="/js/mine.js")