doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/stylish-portfolio.css')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Zefira Acceso Total es una membresia que te permite acceder a docenas de establecimientos sin tener que hacer colas o pagar entradas")
    meta(name="author", content="Diego Yepes")
    meta(property="og:description" ,content="Zefira Acceso Total es una membresia que te permite acceder a docenas de establecimientos sin tener que hacer colas o pagar entrada")
    meta(property="og:image" ,content="http://d1s0u8p3pv0ol2.cloudfront.net/bootstrap/main.png")
   
    meta(property="og:url" ,content="http://accesototal.zefira.pe")
    meta(property="og:title" ,content="Zefira Acceso Total")
    meta(property="og:type" ,content="website")

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Share+Tech', type='text/css')
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Prosto+One', type='text/css')
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Underdog', type='text/css')
    


  body
    block content



                        