extends layout

block content

	#top.header
		#intro.intro
			.container
				
				.row
					.col-md-8.col-md-offset-2.text-center.test
						h3 Terminos de Servicio y Politicas de Privacidad
						hr
					.col-md-8.col-md-offset-2.test
						p
							strong Zéfira Acceso total no agrega usuarios a su sitio web sin permiso
						p  Una persona puede ser agregada solamente cuando lo hace por sí misma o si un amigo los invita. Si alguien te afilia a Acceso total sin tu permiso y no quieres ser parte de nuestra comunidad, por favor, contactanos.	
						br 			
						
					.col-md-8.col-md-offset-2.test
						p
							strong Zéfira Acceso total no vende o distribuye tu informacion de contacto o correo electrónico a terceras personas
						p  	Nosotros no enviamos spam. Utilizamos tu correo electrónico para comunicarnos contigo acerca de la informacion mas actualizada de Acceso Total, así como para tambien hacerte saber cuando y como estaremos saliendo al público. Nunca la mostraremo públicamente en nuestro sitio.	
					
						br	
					.col-md-8.col-md-offset-2.test
						p
							strong Zéfira Acceso total mantiene toda información respecto a tu actividad dentro del programa confidencial y no la utiliza como medios de generar ingresos o publicidad con las empresas afiliadas
						p  	Puedes utilizar tu tarjeta cuantas veces y en cualquiera de los establecimientos afiliados sin preocuparte. Tu utilizacion es completa y absolutamente privada. No se comparte ni se compartira con las empresas afiliadas. 
						br	

						.col-md-4.col-md-offset-4.text-center
							a(href='/info').btn.btn-lg.btn-primary Volver
						
						
				.row	
					hr
					p.text-center.test Todos los derechos Reservados &copy; Zefira Acceso Total 2013
					
					